# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn
.json

nyt-byline/raw/


nba-final-runs/raw-years/
nba-final-runs/raw-box/
nba-finals-runs/boxscoretraditional/
nba-finals-runs/gamedetail/


nba-finals-totals/raw/


nba-returning-players/raw-years/
nba-returning-players/raw/


nyc-subway/csv/
nyc-subway/units/


538-wp/raw-data/
538-wp/merged-forecasts.json
538-wp/538-2020-nba-forecasts.json
538-wp/538-2020-nba-games.json

rcp-avg/raw

2020-wp/raw-data/
2022-wp/raw-data/
2022-wp/out-data/
2022-wp/2022-wp-raw-data.zip

2024-wp/raw-data/
2024-wp/out-data/
2024-wp/2024-wp-raw-data.zip


flags/raw-img/


finals-2021/nba/raw


nyt-theater/nyt/headers.json
nyt-theater/iobdb/raw/
nyt-theater/nyt/raw/

node_modules


box-office-mojo/raw

2024-nba-wp/raw
2024-nba-wp/games.json
2024-nba-wp/2024-nba-wp-games.json


2024-advent-of-code/raw

