# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


nyt-byline/raw/


nba-final-runs/raw-years/
nba-final-runs/raw-box/
nba-finals-runs/boxscoretraditional/
nba-finals-runs/gamedetail/


nba-finals-totals/raw/


nba-returning-players/raw-years/
nba-returning-players/raw/


nyc-subway/csv/
nyc-subway/units/


538-wp/raw-data/
538-wp/merged-forecasts.json
